<div style="width: 72%; margin-bottom: 2%;">
    <h2 style="font-family: 'Gill Sans';"> Final Step </h2>
    
    <mat-accordion>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header style="background-color: rgb(104, 204, 243); margin-bottom: 1%;">
          <mat-panel-title>
            Review
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="row" style="margin-left: 1%;">
          <h6> <strong> Average Score: </strong> {{ finalStep.avgScore }} <br />
            <strong> Agreed Salary: </strong> {{ finalStep.agreedSalary | currency}} <br />
            <strong> Start Date: </strong> {{ finalStep.startDate | date: 'dd/MM/yyyy' }}
          </h6>
        </div>

      </mat-expansion-panel>
    </mat-accordion>
  </div>